<app-navbar></app-navbar>
<h2 id="welcome-message">Welcome to University Clubs Web Application</h2>
<div id="descriptive-paragraph-container">
    <p>
        Welcome to our University Clubs Management Web Application, a comprehensive and user-friendly platform designed to enhance the student experience on campus. Our application serves as the ultimate hub for students, offering seamless access to a diverse range of university clubs, enriching training programs, engaging workshops, and streamlined student inscriptions.
    </p>
</div>
<app-training></app-training>

<app-footer></app-footer>
