<nav class="navbar navbar-expand-lg navbar-light bg-light m-3">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="logo" [src]="logoPath" [width]="logoWidth" /></a>
    <a class="navbar-brand ml-2 text-success" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">University Clubs For Students Trainings & Feedbacks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trainings" routerLinkActive="active" ariaCurrentWhenActive="page">Trainings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inscriptions" routerLinkActive="active" ariaCurrentWhenActive="page">Students Inscriptions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/feedbacks" routerLinkActive="active" ariaCurrentWhenActive="page">Students Feedbacks</a>
        </li>
      </ul>
    </div>
</nav>

